body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
            monospace;
    }

    .app {
        .header {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 52vh;
            min-height: 350px;
            font-size: calc(10px + 2vmin);
            background-size: cover;
            overflow: hidden;

            &__background {
                position: absolute;
                width: 100%;
                height: 52vh;
                top: 0;
                bottom: 0;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg,
                            rgba(0, 0, 0, 0.38) 0,
                            rgba(0, 0, 0, 0.38) 3.5%,
                            rgba(0, 0, 0, 0.379) 7%,
                            rgba(0, 0, 0, 0.377) 10.35%,
                            rgba(0, 0, 0, 0.375) 13.85%,
                            rgba(0, 0, 0, 0.372) 17.35%,
                            rgba(0, 0, 0, 0.369) 20.85%,
                            rgba(0, 0, 0, 0.366) 24.35%,
                            rgba(0, 0, 0, 0.364) 27.85%,
                            rgba(0, 0, 0, 0.361) 31.35%,
                            rgba(0, 0, 0, 0.358) 34.85%,
                            rgba(0, 0, 0, 0.355) 38.35%,
                            rgba(0, 0, 0, 0.353) 41.85%,
                            rgba(0, 0, 0, 0.351) 45.35%,
                            rgba(0, 0, 0, 0.35) 48.85%,
                            rgba(0, 0, 0, 0.353) 52.35%,
                            rgba(0, 0, 0, 0.36) 55.85%,
                            rgba(0, 0, 0, 0.371) 59.35%,
                            rgba(0, 0, 0, 0.385) 62.85%,
                            rgba(0, 0, 0, 0.402) 66.35%,
                            rgba(0, 0, 0, 0.42) 69.85%,
                            rgba(0, 0, 0, 0.44) 73.35%,
                            rgba(0, 0, 0, 0.46) 76.85%,
                            rgba(0, 0, 0, 0.48) 80.35%,
                            rgba(0, 0, 0, 0.498) 83.85%,
                            rgba(0, 0, 0, 0.515) 87.35%,
                            rgba(0, 0, 0, 0.529) 90.85%,
                            rgba(0, 0, 0, 0.54) 94.35%,
                            rgba(0, 0, 0, 0.547) 97.85%,
                            rgba(0, 0, 0, 0.55));
                }
            }

            .header__form {
                margin: 5vh auto;
                z-index: 1;

                .form__logo {
                    margin: 20px 0;
                    color: #fff;
                    font-size: 46px;
                    font-weight: bold;
                }

                .form__text {
                    font-size: 18px;
                    font-weight: 400;
                    color: #fff;
                    line-height: 1.5;

                    a {
                        color: #fff;
                        transition: color 0.1s ease-in-out, opacity 0.1s ease-in-out;
                        -webkit-text-decoration-skip: ink;
                        text-decoration-skip-ink: auto;

                        &:hover {
                            font-weight: bolder;
                        }
                    }
                }

                .form__search {
                    .search__label {
                        position: relative;
                    }

                    .search__icon {
                        position: absolute;
                        left: 15px;
                        top: 15px;
                        -webkit-filter: invert(0.5);
                        filter: invert(0.5);
                        bottom: 0;
                        z-index: 10;
                        width: 20px;
                        height: 20px;
                        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
                    }

                    .search__input {
                        z-index: 9;
                        display: block;
                        width: 45vw;
                        height: 45px;
                        font-family: Helvetica, sans-serif;
                        font-weight: 300;
                        font-size: 16px;
                        text-indent: 40px;
                        border: 1px solid #aaa;
                        border-radius: 4px;
                        outline: none;
                    }

                    .search__suggestions {
                        z-index: 999;
                        position: relative;
                        background: white;
                        margin: 0 auto;
                        padding: 0;
                        display: block;
                        overflow-y: auto;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        border-radius: 0 0 5px 5px;
                        font-size: 14px;
                        text-align: left;
                        list-style: none;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);

                        &::-webkit-scrollbar {
                            display: none;
                        }

                        .suggestion {
                            padding: 5px 10px;
                            cursor: pointer;

                            .suggestion__link {
                                color: #111111;
                                text-decoration: none;
                            }

                            &:hover {
                                background: #f0f0f0;
                            }
                        }
                    }

                    .search__tags {
                        display: inline-block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: #fff;

                        .tag {
                            padding: 5px;
                            color: #fff;
                            font-size: 13px;
                            cursor: pointer;
                            font-weight: 400;
                            font-style: normal;
                            transition: all 0.5s;

                            &:hover {
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }

        .stats {
            display: block;
            padding: 30px 0;
            text-align: center;
        }

        .spinner {
            display: flex;
            justify-content: center;

            img {
                width: 30px;
                padding: 30px;
            }
        }

        .gallery {
            // -moz-column-count: 3;
            // column-count: 3;
            // -moz-column-gap: 1em;
            // column-gap: 1em;
            margin: 0 auto;
            padding: 0 15vh;
            max-width: 1280px;

            .infinite-scroll-component {
                overflow: hidden !important;
            }

            &__row {
                display: flex;
                margin-left: -30px;
                width: auto;

                .gallery__column {
                    padding-left: 30px;
                    background-clip: padding-box;

                    .gallery__item {
                        position: relative;
                        display: inline-block;
                        margin: 0 0 1em;
                        width: 100%;
                        overflow: hidden;

                        img {
                            width: 100%;
                            display: block;
                            transition: all 0.8s;
                            cursor: zoom-in;
                        }

                        &:hover {
                            img {
                                opacity: 1;
                            }

                            .item-details {
                                opacity: 1;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }

                        .item-details {
                            opacity: 0;
                            transition: opacity 500ms;

                            .details-likes {
                                display: grid;
                                position: absolute;
                                top: 15px;
                                right: 15px;
                                text-align: center;
                                text-decoration: none;

                                p {
                                    padding: 10px;
                                    background: #ffffff8f;
                                    color: #222222;
                                    border-radius: 4px;
                                    font-size: 0.9em;
                                    white-space: nowrap;
                                    overflow: hidden !important;
                                    text-overflow: ellipsis;
                                    text-align: center;
                                    position: relative;
                                }
                            }

                            .details-profile {
                                position: absolute;
                                display: flex;
                                width: 100%;
                                left: 0px;
                                bottom: 0px;

                                &:before {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background: linear-gradient(0deg,
                                            rgba(0, 0, 0, 0.6755077030812324) 0%,
                                            rgba(0, 0, 0, 0) 100%);
                                }

                                &__username {
                                    width: 150px;
                                    overflow: hidden;
                                    display: inline-block;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                }

                                &__image {
                                    padding: 15px;
                                    display: flex;
                                    color: #ffffff;
                                    text-decoration: none;
                                    align-items: center;
                                    z-index: 1;

                                    img {
                                        margin: 0 10px 0 0;
                                        width: 35px;
                                        border-radius: 50%;
                                    }

                                    .details-profile__username {
                                        flex: 0.8;
                                        overflow: hidden;
                                        display: inline-block;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                    }
                                }

                                &__button {
                                    position: absolute;
                                    right: 25px;
                                    bottom: 20px;
                                    color: #ffffff;
                                    border-radius: 4px;
                                    text-decoration: none;
                                    display: flex;
                                    align-items: center;
                                    z-index: 1;
                                }
                            }
                        }
                    }
                }
            }

            .end__text {
                padding: 50px;
                text-align: center;
                font-weight: bold;
            }
        }

        @media (max-width: 700px) {
            .header__form {
                width: 100vw;
                display: flex;
                justify-content: center;
                flex-direction: column;
                overflow: hidden;

                .form__logo {
                    font-size: 10vw !important;
                    text-align: center;
                }

                .form__text {
                    font-size: 4vw !important;
                    text-align: center;
                }

                .form__search {
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    .search__input {
                        width: 80vw !important;
                    }

                    .search__suggestions {
                        width: 80vw !important;
                    }

                    .search__tags {
                        width: 75vw;
                    }
                }
            }

            .gallery {
                padding: 0 3vw;

                .details-profile__username {
                    flex: 0.6;
                }
            }
        }

        @media (max-width: 500px) {
            .photo__details {
                display: none !important;
            }
        }
    }
}