body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  .app {

    .app-header {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 45vh;
      min-height: 350px;
      font-size: calc(10px + 2vmin);
      background-image: url(https://images.unsplash.com/photo-1604030560689-97ccf543b3a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&dpr=1&auto=format%2Ccompress&fit=crop&w=2599&h=594);
      background-size: cover;

      .search-form {
        margin: 5vh auto;

        .logo {
          margin: 20px 0;
          color: #fff;
          font-size: 46px;
          font-weight: bold;
        }

        .sub-logo {
          font-size: 18px;
          font-weight: 400;
          color: #fff;
          line-height: 1.5;

          a {
            color: hsla(0, 0%, 100%, .8);
            transition: color .1s ease-in-out, opacity .1s ease-in-out;
            -webkit-text-decoration-skip: ink;
            text-decoration-skip-ink: auto;

            &:hover {
              color: #fff;
            }
          }
        }


        input {
          z-index: 99999;
          display: block;
          width: 50vw;
          height: 30px;
          padding: 10px 20px;
          font-family: Helvetica, sans-serif;
          font-weight: 300;
          font-size: 16px;
          border: 1px solid #aaa;
          border-radius: 4px;

          &:before {
            content: "";
            position: absolute;
            left: 10px;
            top: 0;
            bottom: 0;
            width: 20px;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
          }
        }

        ul {
          z-index: 99999;
          position: relative;
          background: white;
          margin: 0 auto;
          padding: 0;
          width: auto;
          display: block;
          max-height: 200px;
          overflow-y: auto;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 0 0 5px 5px;
          font-size: 14px;
          text-align: left;
          list-style: none;
          box-shadow: 0 2px 4px rgba(0,0,0,.12);

          &::-webkit-scrollbar {
            display: none;
        }

          li {
            padding: 5px 10px;
            cursor: pointer;

            a {
              color: #111111;
              text-decoration: none;
            }
            
            &:hover {
              background: #f0f0f0
            }
          }
        }

        span {
          z-index: 99999;
          position: relative;
          background: #ffffff;
          margin: 0 auto;
          width: 50vw;
          max-height: 390px;
          overflow-y: auto;
          padding: 10px 20px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          font-size: 14px;
          list-style: none;
        }
      }
    }

    .app-sentence {
      display: block;
      padding: 30px 0;
      text-align: center;
    }

    .app-gallery {
      -moz-column-count: 4;
      column-count: 4;
      -moz-column-gap: 1em;
      column-gap: 1em;
      margin: 0 auto;
      padding: 0 6vh;

      &:hover {
        img {
          opacity: 0.75;
        }
      }

      .item {
        position: relative;
        display: inline-block;
        margin: 0 0 1em;
        width: 100%;

        img {
          width: 100%;
          display: block;
          transition: all .8s;
          cursor: zoom-in;
        }

        &:hover {
          img {
            opacity: 1;
          }
          .item-caption {
            opacity: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .item-caption {
          display: flex;
          flex-direction: column;
          opacity: 0;
          position: absolute;
          top: 0px;
          right: 10px;
          -webkit-transition: opacity 500ms;
          -moz-transition: opacity 500ms;
          -o-transition: opacity 500ms;
          transition: opacity 500ms;

        .item-likes {
          padding: 10px;
          background: #f0f0f0;
          color: #222222;
          border-radius: 4px;
          text-decoration: none;
        }

        .item-button {
          padding: 10px;
          background: #006eff;
          color: #ffffff;
          border-radius: 4px;
          font-size: 12px;
          text-decoration: none;
        }

          p {
            padding: 0 15px;
            font-size: 0.9em;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
            text-align: center;
            position: relative;
          }
        }
      }
    }

    @media (max-width : 860px) {
      .search-form {
        text-align: center;
        justify-content: center !important; 

        input {
          width: 80vw !important;
        }
      }
      .app-gallery {
        -moz-column-count: 3;
        column-count: 3;
      }
    }

    @media (max-width : 667px) {
      .search-form {
        text-align: center;
        input {
          width: 80vw !important;
        }
      }
      .app-gallery {
        -moz-column-count: 2;
        column-count: 2;
      }
    }

    @media (max-width : 500px) {

      .app-gallery {
        -moz-column-count: 1;
        column-count: 1;
      }
    }
  }
}